PORT=4000
APP_URL = http://localhost:4000
NODE_ENV=development 

STATIC_IMAGES_PATH = ./files/images/
STATIC_DOCS_PATH = ./files/docs/

STATIC_IMAGES_PATH_API = /images

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/db_name"

SECRET_JWT = TEST_KEY

TOKEN_EXPIRES_IN = 36000
AT_SECRET=at-secret
RT_SECRET=rt-secret

TELEGRAM_BOT_TOKEN=TOKEN
TELEGRAM_CHAT_IDS=IDS
